@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    background-color: hsl(275, 100%, 97%);
}

header {
    height: 320px;
    width: 100%;
    overflow: hidden; /* Garante que a imagem não vaze */
}

.bg-header {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a img se comportar como o background-size: cover */
    display: block;
}

#container-title{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

#container-title img{
    display: flex;
    width: 45px;
}

#container-title h1{
    font-size: 48px;
}

.container-faqs{
    background-color: white;
    max-width: 600px;
    width: 90%;
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-radius: 10px;
    padding: 40px;
}

.container-title-faq{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.container-faqs p{
    font-size: 16px;
    color: hsl(292, 16%, 49%);
    max-width: 95%;
    text-align: justify;
    font-weight: 600;
}

.container-faqs h2{
    font-size: 18px;
    max-width: 90%;
}

.container-faqs h2:hover{
    color: hsl(293, 43%, 60%);
}
.container-faqs img{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.faq-item{
    margin: 20px 0px 20px 0px;
}

.faq-item.active .resposta{
    display: flex;
}

.resposta{
    display: none;
    margin-top: 10px;
}

@media (max-width:1080px) {
    .container-faqs{
        top: 150px;
    }
}